/*
 * This is the default style for my personnal homepage.
 *
 * This style try to handle good appearance in many case but if you have
 * problems, you can easily switch to another stylesheet.
 */

/* Generic parts */
html {
	height: 99%;
}

body {
	height: 99%;
}

/* Header styles */
#nonFooter {
	position: relative;
	min-height: 99%;
}

* html #nonFooter {
	height: 99%;
}

/* Content styles */
#contents {
	padding-bottom: 3em;
}

/* Footer styles */
#footer {
	position: relative;
	margin-top: -4em;
	text-align: center;
	font-size: 70%;
}

